<html>
<body>
    <h2>Counter</h2>
        <h3><%= counter %></h3>
	<form action='/add2' method='post'>
	    <button type='submit' name='value'> Add 2 </button>
	</form>
	<form action='/reset' method='post'>
	    <button type='submit' name='value'> reset </button>
	</form>
</body>
</html>